@model ExperimentalCMS.ViewModels.PlaceViewModel

@{
    ViewBag.Title = "Create Place";
}

<div class="span8">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Create Place</legend>

            @Html.HiddenFor(model => model.PlaceId)

            <div class="editor-label">
                @Html.LabelFor(model => model.PlaceName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PlaceName)
                @Html.ValidationMessageFor(model => model.PlaceName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PlaceTypeId, "PlaceType")
            </div>
            <div class="editor-field">
                @Html.DropDownList("PlaceTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.PlaceTypeId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.InternalRanking)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.InternalRanking)
                @Html.ValidationMessageFor(model => model.InternalRanking)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Description, new { @class = "mb10" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
            <div class="mt20">
                <div class="row-fluid">
                    <div class="span5">
                        <div>
                            <h4>Related Places</h4>
                            <div id="PlaceOutputDiv" class="mb20"></div>

                            <div class="editor-field">
                                <input type="text" placeholder="Search Places..." id="SearchPlaces" class="input-xlarge" />
                                <input type="hidden" id="SelectedPlaces" name="RelatedPlaceIds" class="hidden" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="span7" id="RelatedArticleContainer">
                        <h4>Related Articles</h4>
                        <div id="ArticleOutputDiv" class="mb20">
                            <table class="selected-article-table">
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                        <div class="editor-field">
                            <input type="text" placeholder="Search Articles..." id="SearchArticles" class="input-xlarge" />
                            <input type="hidden" id="SelectedArticles" name="RelatedArticleIds" class="hidden" value="" />
                        </div>
                        <div class="article-search-result">
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="id">id</th>
                                        <th>Title</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row-fluid mt20" id="SlideShowPicDiv" >
                <div class="span10">
                    <h4>Slideshow Pictures</h4>
                    <div class="mb20" data-bind="template: { name: 'selected-picture-kotemp', foreach: mainSelectedPics }" >

                    </div>
                    <div class="editor-field">
                        <input type="hidden" id="SelectedSlideShowPictures" name="RelatedSlideShowPictures" class="hidden" value="" />
                    </div>

                </div>
               

            </div>
            <p class="mt15 mb300">
                <input type="submit" value="Create" class="btn btn-primary" />

                <input type="button" value="Add Slideshow Pictures" class="btn" id="AddSlideshowBtn" />

                 @Html.ActionLink("« Back to List", "Index", null, new { @class = "btn" })
            </p>
        </fieldset>
    }
</div>

<div id="AssociateWithPicturesDialog" title="Add slideshow pictures">
	@Html.Partial("_AttachPictures",  new ExperimentalCMS.ViewModels.PhotoViewModel())
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/EditPlace")
    <script>
        //TODO: Hardcoding the name of textarea field.
        CKEDITOR.replace("Description");
        var screenScript = PlaceCreate(jQuery);
        screenScript.LetsDoIt();
    </script>
}

<!-- jquery templates -->
<script id="placeList" type="text/x-jquery-tmpl">
    <div class="metal-plate">
        <button type="button" class="close">×</button>
        <strong>${value}</strong>  : <strong>${label}</strong>
        <input type="hidden" class="hidden" value="${value}" />
    </div>
</script>
<script id="articleSearchList" type="text/x-jquery-tmpl">
    <tr>
        <td><span class="plus-icon"></span></td>
        <td class="id"><span class="value">${value}</span></td>
        <td><span class="lbl">${label}</span>
            <input type="hidden" value="${value}" />
        </td>
    </tr>
</script>
<script id="articleSelectedList" type="text/x-jquery-tmpl">
    <tr>
        <td class="id">${value}</td>
        <td>${label}
            <input type="hidden" value="${value}" />
        </td>
        <td class="control"><span class="cross-icon"></span></td>
    </tr>
</script>

<!--  == Knockout templates ==  -->
<script type="text/html" id="selected-picture-kotemp">
    <div class="fl">
        <h4><!--ko text: title--><!--/ko--></h4>
        <div  style="width:260px; max-height: 300px; border-radius: 0.3125em; overflow:hidden; margin-right: 20px;">
        <img data-bind="attr: { src: imageUrl }" style="width:260px;">
        </div>
    </div>
</script>