@model ExperimentalCMS.Model.Place

@{
    ViewBag.Title = "Delete";
}

<h4>Are you sure you want to delete this?</h4>
<fieldset class="mb10">
    <legend>Delete Place</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlaceName) : 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlaceName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description) : 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlaceType.PlaceTypeName) : 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlaceType.PlaceTypeName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="btn btn-primary" />  
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn"})
    </p>
}
