@model ExperimentalCMS.Model.Place

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Place</legend>

        @Html.HiddenFor(model => model.PlaceId)

        <div class="editor-label">
            @Html.LabelFor(model => model.PlaceName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlaceName)
            @Html.ValidationMessageFor(model => model.PlaceName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlaceTypeId, "PlaceType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PlaceTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.PlaceTypeId)
        </div>

        <p>
            <input type="submit" value="Save" class="btn btn-primary" />  @Html.ActionLink("Back to List", "Index", null, new { @class = "btn"})
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
