@model IEnumerable<Model.Place>
@{
    ViewBag.Title = "Index";
}
<h2 class="mb10">
    Places</h2>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<div class="row-fluid">
    <div class="span6">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PlaceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlaceType.PlaceTypeName)
                </th>
                <th>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlaceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlaceType.PlaceTypeName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PlaceId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PlaceId })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
