@model ExperimentalCMS.Web.BackEnd.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
<div class="span12">
<div class="container">
@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Enter your user name and password below.</h2>
</hgroup>
*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm((string)ViewBag.FormAction, "Account", FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")

    <fieldset>
        <h1>@ViewBag.Title</h1>

        <div class="editor-field">
            @Html.TextBoxFor(m => m.UserName, new Dictionary<string, Object> { { "placeholder", "User Name" }, { "class", "input-xlarge" } })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>

        <div class="editor-field">
            @Html.PasswordFor(m => m.Password, new Dictionary<string, Object> { { "placeholder", "Password" }, { "class", "input-xlarge" } })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <label class="checkbox">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
        </label>
        <input type="submit" value="Log in" class="btn btn-large btn-primary" />
    </fieldset>

}</div>
</div>